  @import 'reset.scss';
  @import 'fonts.scss';
  @import 'mixin.scss';
  @import 'var.scss';

  // @include mq(xxl) {}
  // @include mq(xl) {}
  // @include mq(lg) {}
  // @include mq(md) {}
  // @include mq(sm) {}
  .wrapper-content {
     overflow: hidden;
  }

  .header {
     background: linear-gradient(311.76deg, #D4E7FE -15.24%, #FFFFFF 78.85%);

     &__top {
        position: relative;
        padding: 22px 0px;

        &::after {
           content: '';
           position: absolute;
           width: 100%;
           height: 1px;
           background-color: #217BF4;
           opacity: 0.1;
           bottom: 0;
           left: 0;
        }
     }

     &__top-inner {
        max-width: 1210px;
        width: 100%;
        margin: 0 auto;
        padding: 0 20px;
        display: flex;
        justify-content: space-between;

        @include mq (lg) {
           align-items: center;
        }

        @media (max-width:563px) {
           flex-direction: column;
        }
     }

     &__burger {
        display: none;
     }

     @include mq (lg) {

        &__burger {
           position: relative;
           display: block;
           width: 30px;
           height: 20px;

           &::before,
           &::after {
              content: '';
              position: absolute;
              width: 100%;
              height: 1px;
              background-color: $gray;
              left: 0;
           }

           &::before {
              top: 0;
           }

           &::after {
              bottom: 0;
           }

        }

        &__burger-line {
           position: absolute;
           width: 100%;
           height: 1px;
           background-color: $gray;
           top: 50%;
           transform: translateY(-50%);
           left: 0;

        }
     }

     &__top-start-items {
        display: flex;
        align-items: center;

        @include mq (lg) {
           justify-content: space-between;
           width: calc(200px + (307 - 200) *((100vw - 563px) /(767 - 563)));

        }

        @media (max-width:563px) {
           margin-bottom: 20px;
           width: 100%;
        }
     }

     &__logo {
        margin-right: calc(20px + (72 - 20) *((100vw - 767px) /(1100 - 767)));

        @media (min-width:1100px) {
           margin-right: 72px;
        }

        @include mq (lg) {
           margin: 0;
        }
     }

     &__menu {
        @include mq (lg) {
           display: none;

        }
     }

     &__menu-list {}

     &__menu-list-item {
        font-family: 'Inter', sans-serif;
        font-weight: 500;
        font-size: 14px;
        line-height: 14px;
        color: $gray;
        cursor: pointer;

        &:not(:last-child) {
           margin-right: calc(20px + (32 - 20) *((100vw - 767px) /(1100 - 767)));

           @media (min-width:1100px) {
              margin-right: 32px;
           }

           @include mq (lg) {}
        }
     }

     &__top-end-items {
        display: flex;
        align-items: center;

        @include mq (lg) {
           justify-content: flex-end;

        }

        @media (max-width:563px) {
           width: 100%;
           justify-content: space-between;
        }

     }

     &__search-box {
        position: relative;
        margin-right: 47px;

        &::before {
           content: '';
           position: absolute;
           width: 12px;
           height: 12px;
           background-image: url(../images/search-icon.svg);
           background-repeat: no-repeat;
           left: 0;
           top: 55%;
           transform: translateY(-50%);
           border: 1px solid #E5E5E5;


        }

        &::after {
           content: '';
           position: absolute;
           width: 100%;
           height: 1px;
           background-color: #E5E5E5;
           left: 0;
           bottom: -18px;
        }

        @media (max-width:563px) {
           width: 100%;
        }
     }

     &__search {
        outline: none;
        border: none;
        max-width: 105px;
        background-color: transparent;
        font-family: 'Inter', sans-serif;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        color: $gray;
        padding-left: 20px;

        @media (max-width:563px) {
           min-width: 100%;
        }

     }

     &__btn {}

     &__content {
        padding: 72px 0px 83px 0px;

        @include mq (lg) {
           padding: 10px 0px;
        }
     }

     &__content-inner {
        max-width: 1210px;
        width: 100%;
        padding: 0 20px;
        margin: 0 auto;
        display: flex;
        align-items: center;

        @include mq (lg) {
           flex-direction: column-reverse;
        }
     }

     &__description {
        max-width: 515px;
        width: 100%;

        @include mq (lg) {
           max-width: 100%;
           display: flex;
           flex-direction: column;
           align-items: center;
        }
     }

     &__overhead-btn {
        max-width: 177px;
        width: 100%;
        padding: 12px 0px;
        display: flex;
        justify-content: center;
        background: rgba(33, 123, 244, 0.1);
        border-radius: 8px;
        border: none;
        font-family: 'Inter', sans-serif;
        font-weight: 500;
        font-size: 12px;
        line-height: 12px;
        text-align: center;
        color: $blue;
        margin-bottom: 20px;
        cursor: pointer;

     }

     &__title {
        font-family: 'Inter', sans-serif;
        font-weight: 700;
        font-size: 56px;
        line-height: 66px;
        color: $black;
        margin-bottom: 18px;

        @include mq (lg) {
           text-align: center;
           font-size: 40px;
           line-height: 52px;
        }
     }

     &__text {
        font-family: 'Inter';
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        color: $gray400;
        margin-bottom: 42px;
        max-width: 491px;
        width: 100%;

        @include mq (lg) {
           text-align: center;
           font-size: 16px;
           line-height: 24px;
        }
     }

     &__btns {
        display: flex;
        gap: 18px;

        @include mq (lg) {
           width: 100%;
        }
     }

     &__btn {}

     &__img-w {
        @include mq (lg) {
           position: relative;
           max-width: 500px;
           width: 100%;
           //   padding-right: 100px;
           overflow: hidden;

        }
     }

     &__img {
        width: calc(685px + (585 - 685) *((100vw - 767px) /(1500 - 767)));
        width: 100%;
        margin-bottom: 30px;

        @include mq (lg) {
           max-width: 767px;
           width: 100%;
           margin-left: calc(-20px + (-40 - -20) *((100vw - 320px) /(767 - 320)))
        }
     }
  }




  .logo {
     width: 143px;
     height: 34px;
  }

  .list {
     list-style-type: none;
     display: flex;
  }

  .list-item {}

  .btn {
     background: #217BF4;
     box-shadow: 0px 7px 22px -6px rgba(33, 123, 244, 0.34);
     border-radius: 14px;
     border: none;
     font-family: 'Inter', sans-serif;
     line-height: 14px;
     text-align: center;
     color: $white;
     cursor: pointer;
     text-align: center;
     padding: 24px 0px;



     &--type-login {
        width: 123px;
        padding: 18px 0px;
        font-weight: 600;
        font-size: 12px;

        @include mq (lg) {
           max-width: 100%;
        }

     }

     &--type-about-more {
        width: 162px;

        @include mq (lg) {
           width: 100%;
        }
     }

     &--type-invite-friend {
        width: 167px;
        border: 1px solid rgba(33, 123, 244, 0.5);
        box-shadow: none;
        background-color: transparent;
        background: rgb(255, 255, 255);
        color: $blue;
        font-weight: 500;
        font-size: 14px;

        @include mq (lg) {
           width: 100%;
        }
     }

     &--type-discover {
        max-width: 192px;
        width: 100%;
        padding: 22px 0px;
        display: flex;
        align-items: center;
        justify-content: center;

        @include mq (lg) {
           max-width: 100%;
        }
     }
  }

  .about {
     padding: 120px 0px 50px 0px;

     @include mq (lg) {
        padding: 20px 0px;
     }

     &__inner {
        max-width: 1210px;
        width: 100%;
        padding: 0 20px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include mq (lg) {
           flex-direction: column-reverse;
        }
     }

     &__desc {
        max-width: 406px;
        width: 100%;

        @include mq (lg) {
           max-width: 100%;
           display: flex;
           flex-direction: column;
           align-items: center;
        }
     }

     &__desc-column {
        @include mq (lg) {
           width: 100%;
        }

     }

     &__desc-overhead {
        @include mq (lg) {
           width: 100%;
           text-align: center;
        }
     }

     &__desc-title {
        @include mq (lg) {
           text-align: center;
           font-size: 32px;
           line-height: 30px;
        }
     }

     &__desc-text {
        @include mq (lg) {
           text-align: center;
        }
     }

     &__desc-menu {
        margin-top: 36px;

        @include mq (lg) {
           margin-top: 20px;
           width: 100%;
        }
     }

     &__desc-menu-list {
        list-style-position: outside;

        @include mq (lg) {
           display: flex;
           justify-content: space-around;
        }
     }

     &__desc-menu-list-item {
        position: relative;
        padding-left: 10px;
        margin-left: 18px;
        font-family: 'Inter', sans-serif;
        font-weight: 500;
        font-size: 18px;
        line-height: 18px;
        color: #171648;

        @media (max-width:375px) {
           padding: 0;
        }

        &::marker {
           content: url(../images/Groups.svg);
        }

        &:not(:last-child) {
           margin-bottom: 16px;
        }
     }


     &__images {
        display: flex;
        justify-content: flex-end;
        gap: 28px;
        margin-left: 20px;

        @include mq (lg) {
           margin-left: 0;
           margin-bottom: 20px;
        }

        @include mq (lg) {
           width: 100%;
           justify-content: flex-start;
           gap: 0;
        }
     }

     &__video-w {
        display: flex;
        flex-direction: column;
        justify-content: center;

        @include mq (lg) {
           margin-right: 10px;
        }
     }

     &__images-box {
        display: flex;
        flex-direction: column;

        @include mq (lg) {
           display: flex;
           flex-direction: row;
           width: 100%;
        }
     }

     &__img {
        display: flex;
        border-radius: 14px;
        max-width: calc(180px + (265 - 180) *((100vw - 767px) /(1100 - 767)));

        &:not(:last-child) {
           margin-bottom: 32px;

           @include mq (lg) {
              margin-bottom: 0;
              margin-right: 10px;
           }
        }

        @include mq (lg) {
           max-width: calc(87px + (234 - 87) * ((100vw - 320px) / (767 - 320)));
        }
     }
  }


  .block-about {

     &--content-center {

        & .block-about__overhead {
           text-align: center;
        }

        & .block-about__title {
           text-align: center;
        }

        & .block-about__text {
           text-align: center;
        }
     }

     &__overhead {
        font-family: 'Inter', sans-serif;
        font-weight: 500;
        font-size: 18px;
        line-height: 18px;
        color: $blue;
        margin-bottom: 10px;
     }

     &__title {
        font-family: 'Inter', sans-serif;
        font-weight: 700;
        font-size: 36px;
        line-height: 48px;
        color: $black;
        margin-bottom: 16px;

        @include mq (lg) {
           font-size: 32px;
           line-height: 35px;
        }
     }

     &__text {
        font-family: 'Inter', sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        color: $gray;

        @include mq (lg) {
           line-height: 26px;
        }
     }
  }

  .achievements {
     padding: 84px 0px;

     @include mq (lg) {
        padding: 20px 0px;

     }

     &__inner {
        max-width: 1210px;
        width: 100%;
        padding: 0 20px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;

        @include mq (lg) {
           flex-direction: column;
        }
     }

     &__blocks {
        display: flex;
        gap: 24px;
        margin-right: 20px;

        @include mq (lg) {
           margin-bottom: 20px;
           margin-right: 0;
           flex-direction: column;
        }

     }

     &__block {
        max-width: 336px;
        width: 100%;
        padding: 42px 18px 40px 44px;
        border: 1px solid;
        border-image-source: linear-gradient(180deg, rgba(185, 185, 185, 0.1188) 0%, rgba(94, 94, 94, 0.1566) 100%);
        border-image-slice: 1;
        border-radius: 14px;
        cursor: pointer;

        &:hover {
           box-shadow: 0px 26px 49px rgba(146, 165, 184, 0.14);
           border-image-slice: 0;
        }

        @include mq (lg) {
           max-width: 100%;
        }


        &--type-rating {

           & .achievements__block-title {
              position: relative;
              padding-left: 38px;

              &::before {
                 content: '';
                 position: absolute;
                 background-image: url(../images/Star.svg);
                 width: 28px;
                 height: 28px;
                 left: 0;
                 top: -6px;
              }
           }

           & .achievements__block-statistics {
              padding-left: 76px;
              position: relative;

              &::before {
                 content: '';
                 position: absolute;
                 background-image: url(../images/people.svg);
                 background-position: 65% 32%;
                 width: 60px;
                 height: 24px;
                 left: 0px;
                 top: -4px;
              }
           }

           & .achievements__block-btn-link {
              color: #217BF4;

           }
        }

        &--type-awwwards {

           & .achievements__block-title {
              position: relative;
              padding-left: 38px;

              &::before {
                 content: '';
                 position: absolute;
                 background-image: url(../images/Trophy.svg);
                 width: 28px;
                 height: 28px;
                 left: 0;
                 top: -6px;
              }
           }

           & .achievements__block-statistics {
              padding-left: 40px;
              position: relative;

              &::before {
                 content: '';
                 position: absolute;
                 background-image: url(../images/githab.svg);
                 background-repeat: no-repeat;
                 background-position: 47% 32%;
                 width: 24px;
                 height: 24px;
                 left: 0px;
                 top: -4px;
              }
           }

           & .achievements__block-btn-link {
              color: #0A093D;

           }
        }

     }

     &__block-title {
        font-family: 'Inter', sans-serif;
        font-weight: 500;
        font-size: 20px;
        line-height: 20px;
        color: #0A093D;
        margin-bottom: 36px;
     }

     &__block-statistics {
        font-family: 'Inter', sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 18px;
        color: #5D5B70;
        margin-bottom: 43px;

        &--blue-text {
           font-weight: 600;
           letter-spacing: -0.02em;
           color: $blue;
        }
     }



     &__block-text {
        font-family: 'Inter', sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: #8C8C8C;
        margin-bottom: 40px;
     }

     &__block-btn-link {
        display: inline-block;
        position: relative;
        font-family: 'Inter', sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 16px;
        text-decoration: none;

        &::after {
           content: '';
           position: absolute;
           background-image: url(../images/ArrowRight.svg);
           width: 10px;
           height: 10px;
           right: 0;
           top: 0;
        }
     }

     &__block-btn-link-name {}

     &__desc-column {
        max-width: 365px;
        width: 100%;

        @include mq (lg) {
           max-width: 100%;
        }
     }

     &__btn {
        margin-top: 36px;
     }

     &__btn-arrow {
        margin-left: 20px;
     }
  }

  .features {
     padding: 115px 0px 80px;
     background: linear-gradient(0deg, rgba(241, 246, 253, 0) 1.63%, #F1F6FD 5.5%, #F1F6FD 58.57%, #FFFFFF 100%);

     @include mq (lg) {
        padding: 20px 0px;
     }

     &__inner {
        max-width: 1210px;
        width: 100%;
        padding: 0 20px;
        margin: 0 auto;
     }

     &__desc {
        margin-bottom: 64px;
        width: 100%;
        display: flex;
        justify-content: center;
     }

     &__desc-column {
        max-width: 454px;
        width: 100%;
     }

     &__list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 44px;
        list-style: none;

        @include mq (lg) {
           display: flex;
           flex-direction: column;
           grid-gap: 10px;
        }
     }

     &__list-item {
        max-width: 522px;
        width: 100%;
        background-color: white;
        padding: 40px 65px 44px 28px;
        border-radius: 14px;
        display: flex;
        cursor: pointer;

        &:hover {
           box-shadow: 14px 22px 52px -12px rgba(127, 127, 127, 0.13);
           transition: all 0.3s ease;
        }

        @include mq (lg) {
           max-width: 100%;
           padding: 25px 25px;
        }
     }

     &__list-item-img {
        width: 66px;
        height: 66px;
        margin-right: 36px;
        //   overflow: hidden;


     }

     &__list-item-content {
        padding-top: 5px;
     }

     &__list-item-title {
        font-family: 'Inter', sans-serif;
        font-weight: 600;
        font-size: 24px;
        line-height: 26px;
        color: #2F2C4A;
     }

     &__list-item-text {
        font-family: 'Inter', sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: #656464;
     }
  }

  .teem {
     padding: 130px 0px 160px 0px;

     @include mq (lg) {
        padding: 20px 0px;
     }

     &__inner {
        max-width: 1210px;
        width: 100%;
        margin: 0 auto;
        padding: 0 20px;
     }

     &__desc {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 44px;

        @include mq (lg) {
           margin-bottom: 20px;
        }
     }

     &__desc-column {
        max-width: 454px;
        width: 100%;
        margin-bottom: 38px;
     }

     &__tub-box {
        max-width: 474px;
        width: 100%;
        background: rgba(33, 123, 244, 0.06);
        border-radius: 14px;
     }

     &__tub-list {
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 8px 8px;
     }

     &__tub-item {
        max-width: 150px;
        width: 100%;
        padding: 20px 0px;
        font-family: 'Inter', sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 16px;
        text-align: center;
        letter-spacing: 0.01em;
        color: #2F2C4A;
        cursor: pointer;
        border-radius: 14px;

        &--active-tub {
           background: #217BF4;
           box-shadow: 0px 7px 22px -6px rgba(0, 72, 168, 0.34);
           color: white;
           font-weight: 600;
        }
     }

     &__list {
        list-style: none;
        display: flex;
        justify-content: space-between;
        width: 100%;


        @media (max-width:992px) {
           display: grid;
           grid-template-columns: 270px 270px;
           justify-content: space-around;
        }

        @media (max-width:576px) {
           display: flex;
           flex-direction: column;
           align-items: center;


        }


     }

     &__list-item {
        position: relative;
        max-width: 270px;
        width: 100%;
        padding: 46px 48px 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 14px;
        cursor: pointer;
        z-index: 0;

        @media (max-width:992px) {
           padding: 46px 20px 30px;
        }

        &:hover {
           box-shadow: 0px 34px 68px rgba(116, 115, 128, 0.1);
        }
     }

     &__list-item-img-w {
        position: relative;
        margin-bottom: 34px;

        &::before {
           content: '';
           position: absolute;
           background-image: url(../images/Check.svg);
           width: 24px;
           height: 24px;
           bottom: -10px;
           left: 50%;
           transform: translateX(-50%);
        }

        &::after {
           content: '';
           position: absolute;
           background-image: url(../images/gradi.png);
           background-repeat: no-repeat;
           overflow: visible;
           width: 173px;
           height: 166px;
           top: -12px;
           left: -14px;
        }
     }

     &__list-item-img {
        display: block;
        width: 142px;
        height: 142px;
     }

     &__list-item-content {}

     &__list-item-name {
        font-family: 'Inter', sans-serif;
        font-weight: 600;
        font-size: 24px;
        line-height: 26px;
        text-align: center;
        color: #2F2C4A;
     }

     &__list-item-pseudo-name {
        font-family: 'Inter', sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 16px;
        text-align: center;
        color: $gray400;
        margin-top: 14px;


     }
  }