* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* inter-regular - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-v12-latin-regular.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/inter-v12-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/inter-v12-latin-regular.woff2") format("woff2"), url("../fonts/inter-v12-latin-regular.woff") format("woff"), url("../fonts/inter-v12-latin-regular.ttf") format("truetype"), url("../fonts/inter-v12-latin-regular.svg#Inter") format("svg");
  /* Legacy iOS */
}
/* inter-500 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/inter-v12-latin-500.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/inter-v12-latin-500.eot?#iefix") format("embedded-opentype"), url("../fonts/inter-v12-latin-500.woff2") format("woff2"), url("../fonts/inter-v12-latin-500.woff") format("woff"), url("../fonts/inter-v12-latin-500.ttf") format("truetype"), url("../fonts/inter-v12-latin-500.svg#Inter") format("svg");
  /* Legacy iOS */
}
/* inter-600 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/inter-v12-latin-600.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/inter-v12-latin-600.eot?#iefix") format("embedded-opentype"), url("../fonts/inter-v12-latin-600.woff2") format("woff2"), url("../fonts/inter-v12-latin-600.woff") format("woff"), url("../fonts/inter-v12-latin-600.ttf") format("truetype"), url("../fonts/inter-v12-latin-600.svg#Inter") format("svg");
  /* Legacy iOS */
}
/* inter-700 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-v12-latin-700.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/inter-v12-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/inter-v12-latin-700.woff2") format("woff2"), url("../fonts/inter-v12-latin-700.woff") format("woff"), url("../fonts/inter-v12-latin-700.ttf") format("truetype"), url("../fonts/inter-v12-latin-700.svg#Inter") format("svg");
  /* Legacy iOS */
}
.wrapper-content {
  overflow: hidden;
}

.header {
  background: linear-gradient(311.76deg, #D4E7FE -15.24%, #FFFFFF 78.85%);
}
.header__top {
  position: relative;
  padding: 22px 0px;
}
.header__top::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #217BF4;
  opacity: 0.1;
  bottom: 0;
  left: 0;
}
.header__top-inner {
  max-width: 1210px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 767px) {
  .header__top-inner {
    align-items: center;
  }
}
@media (max-width: 563px) {
  .header__top-inner {
    flex-direction: column;
  }
}
.header__burger {
  display: none;
}
@media only screen and (max-width: 767px) {
  .header__burger {
    position: relative;
    display: block;
    width: 30px;
    height: 20px;
  }
  .header__burger::before, .header__burger::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #686868;
    left: 0;
  }
  .header__burger::before {
    top: 0;
  }
  .header__burger::after {
    bottom: 0;
  }
  .header__burger-line {
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #686868;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
  }
}
.header__top-start-items {
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 767px) {
  .header__top-start-items {
    justify-content: space-between;
    width: calc(200px + 107 * (100vw - 563px) / 204);
  }
}
@media (max-width: 563px) {
  .header__top-start-items {
    margin-bottom: 20px;
    width: 100%;
  }
}
.header__logo {
  margin-right: 72px;
  margin-right: calc(20px + 52 * (100vw - 767px) / 333);
}
@media only screen and (max-width: 767px) {
  .header__logo {
    margin: 0;
  }
}
@media only screen and (max-width: 767px) {
  .header__menu {
    display: none;
  }
}
.header__menu-list-item {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  color: #686868;
  cursor: pointer;
}
.header__menu-list-item:not(:last-child) {
  margin-right: calc(20px + 12 * (100vw - 767px) / 333);
}
.header__top-end-items {
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 767px) {
  .header__top-end-items {
    justify-content: flex-end;
  }
}
@media (max-width: 563px) {
  .header__top-end-items {
    width: 100%;
    justify-content: space-between;
  }
}
.header__search-box {
  position: relative;
  margin-right: 47px;
}
.header__search-box::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  background-image: url(../images/search-icon.svg);
  background-repeat: no-repeat;
  left: 0;
  top: 55%;
  transform: translateY(-50%);
  border: 1px solid #E5E5E5;
}
.header__search-box::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #E5E5E5;
  left: 0;
  bottom: -18px;
}
@media (max-width: 563px) {
  .header__search-box {
    width: 100%;
  }
}
.header__search {
  outline: none;
  border: none;
  max-width: 105px;
  background-color: transparent;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #686868;
  padding-left: 20px;
}
@media (max-width: 563px) {
  .header__search {
    min-width: 100%;
  }
}
.header__content {
  padding: 72px 0px 83px 0px;
}
@media only screen and (max-width: 767px) {
  .header__content {
    padding: 10px 0px;
  }
}
.header__content-inner {
  max-width: 1210px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 767px) {
  .header__content-inner {
    flex-direction: column-reverse;
  }
}
.header__description {
  max-width: 515px;
  width: 100%;
}
@media only screen and (max-width: 767px) {
  .header__description {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.header__overhead-btn {
  max-width: 177px;
  width: 100%;
  padding: 12px 0px;
  display: flex;
  justify-content: center;
  background: rgba(33, 123, 244, 0.1);
  border-radius: 8px;
  border: none;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  color: #217BF4;
  margin-bottom: 20px;
  cursor: pointer;
}
.header__title {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 56px;
  line-height: 66px;
  color: #0A093D;
  margin-bottom: 18px;
}
@media only screen and (max-width: 767px) {
  .header__title {
    text-align: center;
    font-size: 40px;
    line-height: 52px;
  }
}
.header__text {
  font-family: "Inter";
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #656464;
  margin-bottom: 42px;
  max-width: 491px;
  width: 100%;
}
@media only screen and (max-width: 767px) {
  .header__text {
    text-align: center;
    font-size: 16px;
    line-height: 24px;
  }
}
.header__btns {
  display: flex;
  gap: 18px;
}
@media only screen and (max-width: 767px) {
  .header__btns {
    width: 100%;
  }
}
@media only screen and (max-width: 767px) {
  .header__img-w {
    position: relative;
    max-width: 500px;
    width: 100%;
    overflow: hidden;
  }
}
.header__img {
  max-width: calc(685px + -100 * (100vw - 767px) / 333);
  width: 100%;
  margin-bottom: 30px;
}
@media only screen and (max-width: 767px) {
  .header__img {
    max-width: 767px;
    width: 100%;
    margin-left: calc(-20px + -20 * (100vw - 320px) / 447);
  }
}

.logo {
  width: 143px;
  height: 34px;
}

.list {
  list-style-type: none;
  display: flex;
}

.btn {
  background: #217BF4;
  box-shadow: 0px 7px 22px -6px rgba(33, 123, 244, 0.34);
  border-radius: 14px;
  border: none;
  font-family: "Inter", sans-serif;
  line-height: 14px;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
  text-align: center;
  padding: 24px 0px;
}
.btn--type-login {
  width: 123px;
  padding: 18px 0px;
  font-weight: 600;
  font-size: 12px;
}
@media only screen and (max-width: 767px) {
  .btn--type-login {
    max-width: 100%;
  }
}
.btn--type-about-more {
  width: 162px;
}
@media only screen and (max-width: 767px) {
  .btn--type-about-more {
    width: 100%;
  }
}
.btn--type-invite-friend {
  width: 167px;
  border: 1px solid rgba(33, 123, 244, 0.5);
  box-shadow: none;
  background-color: transparent;
  background: rgb(255, 255, 255);
  color: #217BF4;
  font-weight: 500;
  font-size: 14px;
}
@media only screen and (max-width: 767px) {
  .btn--type-invite-friend {
    width: 100%;
  }
}
.btn--type-discover {
  max-width: 192px;
  width: 100%;
  padding: 22px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width: 767px) {
  .btn--type-discover {
    max-width: 100%;
  }
}

.about {
  padding: 120px 0px 50px 0px;
}
@media only screen and (max-width: 767px) {
  .about {
    padding: 20px 0px;
  }
}
.about__inner {
  max-width: 1210px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (max-width: 767px) {
  .about__inner {
    flex-direction: column-reverse;
  }
}
.about__desc {
  max-width: 406px;
  width: 100%;
}
@media only screen and (max-width: 767px) {
  .about__desc {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media only screen and (max-width: 767px) {
  .about__desc-column {
    width: 100%;
  }
}
@media only screen and (max-width: 767px) {
  .about__desc-overhead {
    width: 100%;
    text-align: center;
  }
}
@media only screen and (max-width: 767px) {
  .about__desc-title {
    text-align: center;
    font-size: 32px;
    line-height: 30px;
  }
}
@media only screen and (max-width: 767px) {
  .about__desc-text {
    text-align: center;
  }
}
.about__desc-menu {
  margin-top: 36px;
}
@media only screen and (max-width: 767px) {
  .about__desc-menu {
    margin-top: 20px;
    width: 100%;
  }
}
.about__desc-menu-list {
  list-style-position: outside;
}
@media only screen and (max-width: 767px) {
  .about__desc-menu-list {
    display: flex;
    justify-content: space-around;
  }
}
.about__desc-menu-list-item {
  position: relative;
  padding-left: 10px;
  margin-left: 18px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  color: #171648;
}
@media (max-width: 375px) {
  .about__desc-menu-list-item {
    padding: 0;
  }
}
.about__desc-menu-list-item::marker {
  content: url(../images/Groups.svg);
}
.about__desc-menu-list-item:not(:last-child) {
  margin-bottom: 16px;
}
.about__images {
  display: flex;
  justify-content: flex-end;
  gap: 28px;
  margin-left: 20px;
}
@media only screen and (max-width: 767px) {
  .about__images {
    margin-left: 0;
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 767px) {
  .about__images {
    width: 100%;
    justify-content: flex-start;
    gap: 0;
  }
}
.about__video-w {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media only screen and (max-width: 767px) {
  .about__video-w {
    margin-right: 10px;
  }
}
.about__images-box {
  display: flex;
  flex-direction: column;
}
@media only screen and (max-width: 767px) {
  .about__images-box {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
}
.about__img {
  display: flex;
  border-radius: 14px;
  max-width: calc(180px + 85 * (100vw - 767px) / 333);
}
.about__img:not(:last-child) {
  margin-bottom: 32px;
}
@media only screen and (max-width: 767px) {
  .about__img:not(:last-child) {
    margin-bottom: 0;
    margin-right: 10px;
  }
}
@media only screen and (max-width: 767px) {
  .about__img {
    max-width: calc(87px + 147 * (100vw - 320px) / 447);
  }
}

.block-about--content-center .block-about__overhead {
  text-align: center;
}
.block-about--content-center .block-about__title {
  text-align: center;
}
.block-about--content-center .block-about__text {
  max-width: 421px;
  width: 100%;
  text-align: center;
}
.block-about__overhead {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  color: #217BF4;
  margin-bottom: 10px;
}
.block-about__title {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  color: #0A093D;
  margin-bottom: 16px;
}
@media only screen and (max-width: 767px) {
  .block-about__title {
    font-size: 32px;
    line-height: 35px;
  }
}
.block-about__text {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #686868;
}
@media only screen and (max-width: 767px) {
  .block-about__text {
    line-height: 26px;
  }
}

.achievements {
  padding: 84px 0px;
}
@media only screen and (max-width: 767px) {
  .achievements {
    padding: 20px 0px;
  }
}
.achievements__inner {
  max-width: 1210px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 767px) {
  .achievements__inner {
    flex-direction: column;
  }
}
.achievements__blocks {
  display: flex;
  gap: 24px;
  margin-right: 20px;
}
@media only screen and (max-width: 767px) {
  .achievements__blocks {
    margin-bottom: 20px;
    margin-right: 0;
    flex-direction: column;
  }
}
.achievements__block {
  max-width: 336px;
  width: 100%;
  padding: 42px 18px 40px 44px;
  border: 1px solid;
  border-image-source: linear-gradient(180deg, rgba(185, 185, 185, 0.1188) 0%, rgba(94, 94, 94, 0.1566) 100%);
  border-image-slice: 1;
  border-radius: 14px;
  cursor: pointer;
}
.achievements__block:hover {
  box-shadow: 0px 26px 49px rgba(146, 165, 184, 0.14);
  border-image-slice: 0;
}
@media only screen and (max-width: 767px) {
  .achievements__block {
    max-width: 100%;
  }
}
.achievements__block--type-rating .achievements__block-title {
  position: relative;
  padding-left: 38px;
}
.achievements__block--type-rating .achievements__block-title::before {
  content: "";
  position: absolute;
  background-image: url(../images/Star.svg);
  width: 28px;
  height: 28px;
  left: 0;
  top: -6px;
}
.achievements__block--type-rating .achievements__block-statistics {
  padding-left: 76px;
  position: relative;
}
.achievements__block--type-rating .achievements__block-statistics::before {
  content: "";
  position: absolute;
  background-image: url(../images/people.svg);
  background-position: 65% 32%;
  width: 60px;
  height: 24px;
  left: 0px;
  top: -4px;
}
.achievements__block--type-rating .achievements__block-btn-link {
  color: #217BF4;
}
.achievements__block--type-awwwards .achievements__block-title {
  position: relative;
  padding-left: 38px;
}
.achievements__block--type-awwwards .achievements__block-title::before {
  content: "";
  position: absolute;
  background-image: url(../images/Trophy.svg);
  width: 28px;
  height: 28px;
  left: 0;
  top: -6px;
}
.achievements__block--type-awwwards .achievements__block-statistics {
  padding-left: 40px;
  position: relative;
}
.achievements__block--type-awwwards .achievements__block-statistics::before {
  content: "";
  position: absolute;
  background-image: url(../images/githab.svg);
  background-repeat: no-repeat;
  background-position: 47% 32%;
  width: 24px;
  height: 24px;
  left: 0px;
  top: -4px;
}
.achievements__block--type-awwwards .achievements__block-btn-link {
  color: #0A093D;
}
.achievements__block-title {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: #0A093D;
  margin-bottom: 36px;
}
.achievements__block-statistics {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #5D5B70;
  margin-bottom: 43px;
}
.achievements__block-statistics--blue-text {
  font-weight: 600;
  letter-spacing: -0.02em;
  color: #217BF4;
}
.achievements__block-text {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #8C8C8C;
  margin-bottom: 40px;
}
.achievements__block-btn-link {
  display: inline-block;
  position: relative;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
}
.achievements__block-btn-link::after {
  content: "";
  position: absolute;
  background-image: url(../images/ArrowRight.svg);
  width: 10px;
  height: 10px;
  right: 0;
  top: 0;
}
.achievements__desc-column {
  max-width: 365px;
  width: 100%;
}
@media only screen and (max-width: 767px) {
  .achievements__desc-column {
    max-width: 100%;
  }
}
.achievements__btn {
  margin-top: 36px;
}
.achievements__btn-arrow {
  margin-left: 20px;
}

.features {
  padding: 115px 0px 80px;
  background: linear-gradient(0deg, rgba(241, 246, 253, 0) 1.63%, #F1F6FD 20.5%, #F1F6FD 58.57%, #FFFFFF 100%);
}
@media only screen and (max-width: 767px) {
  .features {
    padding: 20px 0px;
  }
}
.features__inner {
  max-width: 1210px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}
.features__desc {
  margin-bottom: 64px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.features__desc-column {
  max-width: 454px;
  width: 100%;
}
.features__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 44px;
  list-style: none;
}
@media only screen and (max-width: 767px) {
  .features__list {
    display: flex;
    flex-direction: column;
    grid-gap: 10px;
  }
}
.features__list-item {
  max-width: 522px;
  width: 100%;
  background-color: white;
  padding: 40px 65px 44px 28px;
  border-radius: 14px;
  display: flex;
  cursor: pointer;
}
.features__list-item:hover {
  box-shadow: 14px 22px 52px -12px rgba(127, 127, 127, 0.13);
  transition: all 0.3s ease;
}
@media only screen and (max-width: 767px) {
  .features__list-item {
    max-width: 100%;
    padding: 25px 25px;
  }
}
.features__list-item-img {
  width: 66px;
  height: 66px;
  margin-right: 36px;
}
.features__list-item-content {
  padding-top: 5px;
}
.features__list-item-title {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 26px;
  color: #2F2C4A;
}
.features__list-item-text {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #656464;
}